//- Блоки на странице
//- ------------------
//- variables           - переменые шаблона
//- head                - добавление в тег head
//- main-content        - основной контент страницы внутри тега main
//- before-main-content - перед тегом main
//- after-main-content  - после тега main 

//- Описание переменых 
//- ------------------
//- title               - заголовок страницы
//- pageClass           - клас для тега body
//- mainContentClass    - клас для тега main

block variables

doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title #{title}
        block head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="css/main.css")

    body(class=pageClass)
        block before-main-content

        main(class=mainContentClass)
            block main-content
        
        block after-main-content
        
        script(src="js/main.js")