extends layouts/main

block variables
    - var title = 'Главная страница';
    - var pageClass = 'home-page';
    - var mainContentClass = 'home-page__main';

block main-content
    h2 Hi Pug !
    pre #{url}
    each news in newsList
        h2= news.title
        p !{ news.text }
