nav.white(role="navigation")
    .nav-wrapper.container
        a#logo-container.brand-logo.grey-text.text-darken-4(href="/") NEWS
        ul.right.hide-on-med-and-down
            li
                a.grey-text.text-darken-4(href="/admin") Управление